*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Blinker', sans-serif;
    background-color:#7bd281;
    line-height: 1.2;
    color: rgb(20, 20, 64)
}

header {
    background-color: white;
    padding: 25px;
    text-align: center;
}

h1 {
    color: rgb(20, 20, 64)
}

.score-box {
    padding: 25px;
    border: 5px solid black;
    max-width: 300px;
    margin: 25px auto;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.score-box:hover {
    border: solid 5px white;
}



.score {
    font-size: 1.65rem;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
}

.score-value {
    font-size: 1.5rem;
}

button {
    font-family: 'Blinker', sans-serif;
    font-size: 1.25rem;
}