*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-dark: rgb(20, 20, 64);
}

body {
    font-family: 'Blinker', sans-serif;
    background-color:#7bd281;
    line-height: 1.2;
    color: rgb(20, 20, 64);
    height: 100vh;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    color: rgb(20, 20, 64);
    font-size: 2.75rem;
}

.score-box {
    padding: 25px;
    border: 5px solid black;
    max-width: 300px;
    margin: 25px auto;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.score-box:hover {
    border: solid 5px white;
}

.score {
    font-size: 1.65rem;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
}

.score-value {
    font-size: 1.5rem;
}

.result {
    padding: 30px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--main-dark)
}

#winner {
    color: white;
}

.choices {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice {
    display: flex;
    font-size: 6rem;
    padding: 2rem;
}






button {
    font-family: 'Blinker', sans-serif;
    font-size: 1.25rem;
}





footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}